{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ recipe_object.title }} Jason's recipes
{% endblock title %}

{% block content %}
        <header>
            <nav>
              <a href="{% url 'recipe_list' %}">Main page</a>
            </nav>
        </header>
        <main>
          <form method="post">
          {% csrf_token %}
          {{ recipe_form.as_p }}
          <label for="recipe-rating">Recipe Rating:</label>
          <input type="number" id="recipe-rating" name="recipe-rating" min=".5" max="5.0" step=".5">
          <button type="submit">Edit</button>
          </form>
        </main>
{% endblock content %}
